/* colors */
/* common mix ins */
/*************/
/* line 20, ../sass/base.scss */
body {
  color: #00ffff;
  background-color: #202020;
  width: 480px;
  margin: 0 auto;
  font-size: 14px;
}

/* line 28, ../sass/base.scss */
#warp-bg {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
  height: 1400px;
}

/* line 37, ../sass/base.scss */
a {
  color: #00ffff;
  text-decoration: none;
}

/* line 42, ../sass/base.scss */
a:hover {
  text-decoration: underline;
}

/* line 46, ../sass/base.scss */
a:visited {
  color: #00a0a0;
}

/* line 50, ../sass/base.scss */
h1, h2 {
  text-align: center;
}

/* line 54, ../sass/base.scss */
h2 {
  font-size: 18px;
  margin-top: 60px;
}

/* line 59, ../sass/base.scss */
ul {
  list-style: none none inside;
  margin: 0;
  padding: 0;
}

/* line 63, ../sass/base.scss */
ul.photos {
  overflow: hidden;
  *zoom: 1;
  margin: 0;
  padding: 0;
}

/* line 69, ../sass/base.scss */
ul.photos li {
  display: block;
  width: 158px;
  height: 158px;
  float: left;
  border: solid 1px #00ffff;
}

/* line 77, ../sass/base.scss */
ul.photos li img {
  width: 158px;
  height: 158px;
  overflow: hidden;
}

/* line 83, ../sass/base.scss */
ul.ss {
  overflow: hidden;
  *zoom: 1;
  margin: 0;
  padding: 0;
}

/* line 89, ../sass/base.scss */
ul.ss li {
  display: block;
  width: 158px;
  height: 282px;
  float: left;
  border: solid 1px #00ffff;
}

/* line 97, ../sass/base.scss */
ul.ss li img {
  width: 158px;
  height: 282px;
  overflow: hidden;
}

/* line 103, ../sass/base.scss */
ul.press {
  font-size: 12px;
}

/* line 107, ../sass/base.scss */
ul.press li {
  margin-bottom: 1em;
}

/* line 111, ../sass/base.scss */
p.developer {
  text-align: center;
  margin-bottom: 80px;
}

/* line 116, ../sass/base.scss */
.dot {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: #008080;
}

/* line 123, ../sass/base.scss */
ul.language {
  overflow: hidden;
  *zoom: 1;
}

/* line 127, ../sass/base.scss */
ul.language li {
  display: inline-block;
  float: left;
  font-size: 64px;
  width: 50%;
  text-align: center;
}

/* line 135, ../sass/base.scss */
p.copyright {
  text-align: center;
}

/* line 139, ../sass/base.scss */
p.when {
  text-align: center;
}

/* line 143, ../sass/base.scss */
p.progress-update {
  text-align: right;
  font-size: 12px;
}

/* line 148, ../sass/base.scss */
#logo {
  text-indent: -90000px;
  background: url("../images/logo320@2x.png") no-repeat;
  background-size: 320px 87px;
  width: 320px;
  height: 87px;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
}

/* line 159, ../sass/base.scss */
table {
  width: 100%;
  border-collapse: collapse;
}

/* line 164, ../sass/base.scss */
table th,
table td {
  border: solid 1px #00a0a0;
}

/* line 169, ../sass/base.scss */
table td {
  text-align: center;
}
