@media screen and (max-width: 480px) {
  /* line 3, ../sass/phone.scss */
  body {
    width: 100%;
  }

  /* line 7, ../sass/phone.scss */
  p,
  ul.press {
    padding: 0 1em;
  }

  /* line 13, ../sass/phone.scss */
  ul.photos {
    width: 160px;
    margin: 0 auto;
  }

  /* line 18, ../sass/phone.scss */
  ul.photos li {
    margin-bottom: 5px;
  }
}
